:root {
  --primary-colour: #d7fd82;
  --secondary-colour: #a24141;
  --header-font-family: "Indie Flower";
  --body-font-family1: "Patrick Hand";
  --body-font-family2: "Neucha";
}
nav {
  padding-top: 50px;
  padding-right: 20px;
}
nav ul {
  padding: 0;
  margin: 0;
  font-size: 36px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 80px;
  margin-left: 5px;
  font-family: var(--body-font-family2);
}
nav a {
  text-decoration: none;
  color: black;
}
nav a:hover,
nav li.active a {
  color: var(--secondary-colour);
}

footer {
  background-color: var(--primary-colour);
  padding: 30px;
}

.logo {
  max-width: 200px;
  margin-left: 10px;
}
.header-logo img {
  float: left;
  margin: 0;
  padding-left: 30px;
}
.header-logo h1 {
  display: block;
  line-height: 70%;
}
.logo-subheading {
  padding-left: 20px;
}
.row-one {
  justify-content: baseline;
}
.subheadings {
  font-family: var(--header-font-family);
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  color: var(--secondary-colour);
}
.content-container {
  padding: 120px 20px;
}
h1 {
  font-size: 44px;
  font-weight: 600;
  font-family: var(--header-font-family);
  text-align: center;
}
p {
  font-size: 24px;
  opacity: 0.7;
  font-family: var(--header-font-family);
}
.about-me-img {
  border-radius: 20px;
  max-width: 80%;
}
.soup img {
  max-width: 80%;
}
.contact-info a {
  font-size: smaller;
}
.contact-info img {
  max-width: 80%;
}

.fa-instagram,
.fa-envelope {
  font-size: large;
}

.copyright {
  font-size: small;
}

@media (max-width: 768px) {
  nav li {
    font-size: 16px;
  }

  .subheadings,
  .content-container h1 {
    font-size: 24px;
  }
  .header-logo img {
    padding: 0;
  }
  .header-logo h1 {
    font-size: 20px;
  }
  .header-logo p {
    font-size: 10px;
    padding: 0;
  }
  .logo {
    max-width: 80px;
  }
  .logo-subheading {
    display: none;
  }
  .content-container {
    text-align: center;
    padding-left: 30px;
  }
  .content-container p {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
