:root {
  --primary-colour: #d7fd82;
  --secondary-colour: #a24141;
  --header-font-family: "Indie Flower";
  --body-font-family1: "Patrick Hand";
  --body-font-family2: "Neucha";
}
nav {
  padding-top: 50px;
  padding-right: 20px;
}
nav ul {
  padding: 0;
  margin: 0;
  font-size: 36px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 80px;
  margin-left: 5px;
  font-family: var(--body-font-family2);
}
nav a {
  text-decoration: none;
  color: black;
}
nav a:hover,
nav li.active a {
  color: var(--secondary-colour);
}
.header-logo img {
  float: left;
  margin: 0;
  max-width: 200px;
}
.header-logo h1 {
  display: block;
  line-height: 70%;
  font-family: var(--header-font-family);
  font-size: 42px;
}
.header-logo p {
  padding-left: 20px;
  font-family: var(--body-font-family2);
  font-size: 20px;
}
.homepage-img {
  margin: 0;
}
.content {
  text-align: center;
  padding: 50px 20px;
}
.content h1 {
  font-size: 40px;
  font-weight: 500;
  font-family: var(--header-font-family);
}
.content p {
  font-size: 24px;
  opacity: 0.7;
  font-family: var(--header-font-family);
}
.about-me-img {
  border-radius: 10px;
  max-width: 80%;
  padding-bottom: 0px;
}
.soup img {
  max-width: 80%;
}
.contact-info a {
  font-size: smaller;
}
.contact-info img {
  max-width: 80%;
}
footer {
  padding-bottom: 50px;
}
footer .fa-github,
.fa-instagram,
.fa-envelope {
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  background: var(--primary-colour);
  color: var(--secondary-colour);
  border-radius: 50%;
}
footer a:hover i {
  background: var(--secondary-colour);
  color: var(--primary-colour);
  transition: all 100ms ease-in-out;
}

footer .copyright {
  font-size: 18px;
  font-family: var(--body-font-family2);
  padding-top: 10px;
}

@media (max-width: 768px) {
  nav {
    padding-top: 20px;
  }
  nav li {
    font-size: 16px;
  }
  .header-logo img {
    padding: 0;
    max-width: 80px;
  }
  .header-logo h1 {
    font-size: 20px;
  }
  .header-logo p {
    display: none;
  }
  .content {
    text-align: center;
    padding-left: 30px;
    padding-top: 20px;
  }
  .content h1 {
    font-size: 24px;
  }
  .content p {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
  footer .copyright {
    font-size: 16px;
  }
}
