:root {
  --primary-colour: #d7fd82;
  --secondary-colour: #a24141;
  --header-font-family: "Indie Flower";
  --body-font-family1: "Patrick Hand";
  --body-font-family2: "Neucha";
}

footer {
  background-color: var(--primary-colour);
  padding: 30px;
}
h1 {
  font-family: var(--header-font-family);
  font-size: 36px;
}
h2 {
  font-family: var(--body-font-family1);
}
p {
  font-family: var(--body-font-family2);
}
.col-sm-4 img {
  margin-bottom: 10px;
}
.logo {
  max-width: 100px;
  margin-left: 10px;
}
.header-logo img {
  float: left;
}
.header-logo h1 {
  display: block;
  line-height: 70%;
  margin-top: 20px;
  padding-top: 50px;
}

.row-one {
  justify-content: baseline;
}
.subheadings {
  font-family: var(--header-font-family);
  font-size: 44px;
  font-weight: 500;
  text-align: center;
  color: var(--secondary-colour);
}
.content-container {
  padding: 120px 20px;
}
.content-container h1 {
  font-size: 44px;
  font-weight: 600;
}
.content-container p {
  font-size: 24px;
  opacity: 0.7;
}
.about-me-img {
  border-radius: 20px;
  max-width: 80%;
}

.fa-instagram,
.fa-envelope {
  font-size: large;
}

.copyright {
  font-size: small;
}

@media (max-width: 768px) {
  .subheadings,
  .content-container h1 {
    font-size: 24px;
  }

  .header-logo h1 {
    font-size: 20px;
  }
  .header-logo p {
    font-size: 10px;
    padding: 0;
  }
  .logo {
    max-width: 80px;
  }
  .content-container {
    text-align: center;
    padding-left: 30px;
  }
  .content-container p {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
